* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --main-font-family: 'shrikhand', sans-serif;
  --color-1 :#f44336;
  --color-2: #f179ff;
}

// overflow-wrap: break-word;
//   word-wrap: break-word; 
//   word-break: break-word;

@mixin respond($breakpoint) {
  @if $breakpoint == phone-small {
    @media screen and (max-width: 400px) { @content };
  }
  @if $breakpoint == phone {
    @media screen and (max-width: 600px) { @content };
  }
  @if $breakpoint == tab-small {
    @media screen and (max-width: 700px) { @content };
  }
  @if $breakpoint == tab-port {
    @media screen and (max-width: 900px) { @content };
  }
  @if $breakpoint == tab-land {
    @media screen and (max-width: 1200px) { @content };
  }
  @if $breakpoint == big-desk {
    @media screen and (max-width: 1800px) { @content };
  }
}

body {
  min-height: 100vh;
}

////////////////////////
// HORIZONTAL SCROLL //

::-webkit-scrollbar {
  display:none;
}

.outer-wrapper {
  width: 90vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.wrapper {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.slide {
  height: 80vh;
  margin: 1rem;
}
.one {
  // background: #efdefe;
  margin-left: 30%;
}
.print {
  display: flex;
  max-height: 40rem;
}

.heading {
  letter-spacing: 2px;
  font-size: 3rem;
  font-family: var(--main-font-family);

  @include respond(tab-port) {
    font-size: 2rem;
  }

  @include respond(phone) {
    font-size: 1.6rem;
  }
}

/// CONTACT BTN ///
.contact-btn {
  border-style: solid;
  border-width: 2px;
  padding: 5px 10px;
  border-color: inherit;
  letter-spacing: 2px;
  background-color: transparent;
  text-transform: uppercase;

  a, a:visited {
    color: #000;
    text-decoration: none;
  }
}

.contact-btn:hover {
  background-color: #f44336;
  border-color: #f44336;

  a {
    color: #fff;
  }
}

.meet-btn {
  font-size: 1.5rem;
  border-color:  #f44336;

  a, a:visited {
    color: #f44336;
    font-family: var(--main-font-family);
    text-transform: none;
  }
}

// TEMPORARY CONTENT ///
.temp-h1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.outer-wrapper {

  @include respond(tab-port) {
    transform: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.wrapper {
  @include respond(tab-port) {
    transform: none;
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    width: 60vw;
    overflow-x: hidden;
  }
  @include respond(phone) {
    width: 80vw;
    margin-top: 70%;
  }

}

.slide {
  @include respond(tab-port) {
    height: fit-content;
    margin: 1rem 0;
  }

}
.one {
  @include respond(tab-port) {
    margin: 0;
  }

}

.print {
  @include respond(tab-port) {
    max-height: 50rem;
  }
  @include respond(phone) {
    max-height: 25rem;
    min-width: 320px;
  }

}