.main-meet-container {
  top: 10rem;
  width: 60%;
  position: relative;
  display: flex;
}
.meet-heading {
  margin: 1rem 2rem 1rem 0;
  text-align: right;
  color: var(--color-1)
}
.p-meet-container {
  margin: 1rem;
  letter-spacing: 1.5px;
}
.meet-p {
  margin: 1rem 0;
}
.email {
  font-weight: 700;
}