.main-name{
  position: fixed;
  top: 33%;
  left: 13%;
  z-index: 99;
  width: 320px;
  border-style: solid;
  padding: 15px;
  text-transform: uppercase;
}

.main-name::before{
  content: '';
  display: inline-block;
  width: 200px;
  height: 200px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: var(--color-2);
  position: absolute;
  top: -110px;
  left: -84px;
  z-index: -1;
}