.main-name {
  color: var(--color-1);
  position: fixed;
  top: 33%;
  left: 13%;
  z-index: 99;
  width: 320px;
  border-style: solid;
  padding: 15px;
  text-transform: uppercase;

  @include respond(tab-port) {
    left: 50%;
    top: 28%;
    transform: translate(-50%, -50%);
    width: 250px;
  }

  @include respond(phone) {
    width: 200px;
    top: 25%;
    transform: translate(-50%, -50%);
  }

  @include respond(phone-small) {
    top: 20%;
  }
}

.main-name::before{
  content: '';
  display: inline-block;
  width: 200px;
  height: 200px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: var(--color-2);
  position: absolute;
  top: -110px;
  left: -96px;
  z-index: -1;
  
  @include respond(tab-port) {
    width: 150px;
    height: 150px;
    top: -84px;
    left: -71px;
  }

  @include respond(phone) {
    width: 100px;
    height: 100px;
    top: -40px;
    left: -43px;
  }
}

