.work-header {
  font-family: var(--main-font-family);
  color: var(--color-1);
}

.show-img {
  width: 400px;
}


///////////////////////// 
////// PRINT SHOW ///////

.print-info {
  height: 300px;
  display: flex;
  align-self: flex-end;
}